VITE_API_URL=http://localhost:5050/api
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-xxx
VITE_PUSHER_KEY=your_pusher_key
VITE_PUSHER_CLUSTER=eu
VITE_POSTHOG_KEY=phc_xxx
VITE_POSTHOG_HOST=https://us.i.posthog.com
